@{
    ViewBag.Title = "Contactar";
}
<h2>@ViewBag.Title.</h2>
<hr>
<div class="col-md-offset-1">
    <h3>Deportes Sakke</h3>
</div>

<div class="col-md-offset-2" style="font-size:14px">
    <b> Pablo Gómez Díaz </b><br />
    <b> C/ Toledo, 26 </b><br />
    <b> 45400 Mora (Toledo) </b><br />
    <b> Teléfono : 925 30 09 72 </b><br />
    <b> Horario : 10:00 - 14:00 , 17:00 - 20:30 </b>
</div>
<br />
<div class="col-md-offset-1">
    <strong>Soporte:</strong>   <a href="mailto:Raul.Ramirezm@gmail.com">Raul.Ramirezm@gmail.com</a><br />
</div>

