@{
    ViewBag.Title = "Home Page";
}


    @*<div class="row">*@
        <div class="col-md-offset-1">
            <div class="panel-body">
                <img src="~/Images/cartel_San_Silvestre.jpg" class="img-responsive" alt="" />
            </div>
        </div>
    @*</div>*@

