
@{
    ViewBag.Title = "AwardView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-mutted"> <ins>Premios</ins></h3>
<div class= "row">
    <div class="col-md-6">
        <div class="form-group">
            <h5><b>Categorias Especial y MiniBenjamin:</b></h5>
            <p style="text-indent:1.5em">  Se les entregará a todos los participantes Golosinas y un Régalo.</p>
        </div>
        <div class="form-group">
            <h5><b>Categorias Benjamin, Alevin e Infantil:</b></h5>
            <p style="text-indent:1.5em">  Trofeo a los tres primeros clasificados.</p>
            <p style="text-indent:1.5em">  Medalla del 4º al 10º clasificado.</p>
        </div>

        <div class="form-group">
            <h5><b>Categoria Cadete, Junior y Senior :</b></h5>
            <p style="text-indent:1.5em">  Trofeo a los tres primeros clasificados de cada categoria.</p>
        </div>
        <div class="form-group">
            <h5><b>Categoria Absoluta Femenina:</b></h5>
            <p style="text-indent:1.5em">  1ª clasificada Trofeo + 25 litros Aceite Mora</p>
            <p style="text-indent:1.5em">  2ª clasificada Trofeo + 15 litros Aceite Mora</p>
            <p style="text-indent:1.5em">  3ª clasificada Trofeo + 10 litros Aceite Mora</p>
        </div>
        <div class="form-group">
            <h5><b>Categoria Veteranas:</b></h5>
            <p style="text-indent:1.5em">  1ª clasificada Trofeo + 10 litros Aceite Mora</p>
            <p style="text-indent:1.5em">  2ª clasificada Trofeo +  5 litros Aceite Mora</p>
            <p style="text-indent:1.5em">  3ª clasificada Trofeo +  5 litros Aceite Mora</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <h5><b>Veteranos "A" y "B":</b></h5>
            <p style="text-indent:1.5em">  1ª clasificado Trofeo + 10 litros Aceite Mora</p>
            <p style="text-indent:1.5em">  2ª clasificado Trofeo +  5 litros Aceite Mora</p>
            <p style="text-indent:1.5em">  3ª clasificado Trofeo +  5 litros Aceite Mora</p>
        </div>
        <div class="form-group">
            <h5><b>Categoria Absoluta Masculina:</b></h5>
            <p style="text-indent:1.5em">  Se realizará una clasificacion conjunta entre las categorias <b>Cadete, Junior, Senior, Veteranos A y B</b> que se llamará <b>'Absoulta Masculina'</b> en la que se entregarán los premios: </p>
            <p style="text-indent:3em">  1º clasificado 40 litros Aceite Mora</p>
            <p style="text-indent:3em">  2º clasificado 30 litros Aceite Mora</p>
            <p style="text-indent:3em">  3º clasificado 20 litros Aceite Mora</p>
            <p style="text-indent:3em">  4º clasificado 10 litros Aceite Mora</p>
        </div>
    </div>
</div>
<h3 class="text-mutted"> <ins>Premio Local</ins></h3>
<div class="row">
    <p style="text-indent:4.5em"><b>Categoria Cadete Femenina y Masculina:</b> 3 primeros clasificados de cada Categoria. </p>
    <p style="text-indent:4.5em"><b>Categoria Junior Masculina:</b> 3 primeros clasificados. </p>
    <p style="text-indent:4.5em"><b>Categoria Senior Masculina:</b> 3 primeros clasificados. </p>
    <p style="text-indent:4.5em"><b>Categoria Absoluta Femenina:</b> 3 primeros clasificados. </p>
    <p style="text-indent:4.5em"><b>Veteranos A y B:</b> 3 primeros clasificados de cada Categoria. </p>
    <p style="text-indent:4.5em"><b>Veteranas: </b> 3 primeros clasificados. </p>
    <p style="text-indent:1.5em"><b>Se consideran corredores locales aquellos que reúnan alguna de estas condiciones: </b></p>
    <p style="text-indent:4.5em"> - Que sean naturales de Mora. </p>
    <p style="text-indent:4.5em"> - Que se encuentren empadronados en Mora. </p>
    <p style="text-indent:4.5em"> - Que alguno de sus ascendientes (padre o madre) sean naturales de Mora. </p>
    <p style="text-indent:4.5em"> - Que previamente lo haya indicado en la inscripción, poniendo la palabra 'MORA' en el dorsal. (No olvidar) </p>
</div>
<h3 class="text-mutted"> <ins>Otros Premios</ins></h3>
<div class="row">
    <p style="text-indent:4.5em"><b> - Un reloj para el primer clasificado de cada categoria donado por 'ERRE Y EME' joyeros y 'SANCHEZ DE ROJAS' joyeros.</b></p>
    <p style="text-indent:4.5em"><b> - Camiseta conmemorativa a los participantes a partir de la categoria cadete.</b></p>
    <p style="text-indent:4.5em"><b> - Un vale descuento a todos los participantes que lleguen a meta para canjear en SAKKE SPORT.</b></p>
</div>

