
@{
    ViewBag.Title = "AnnualCategoryView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>San Silvestre Villa de Mora 2019 - Categorias</h2>

<div id="CategoryDataContainerId">
    <div id="CatgoryDataResultTableContainerId" style="font-size:12px">
        <table id="CategoryDataTable" style="font-size:12px"  class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Categorias</th>
                    <th>Años de Nacimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Especial Masculina y Femenina</td>
                    <td>2014 y Posteriores</td>
                </tr>
                <tr>
                    <td>Mini Benjamin Masculina y Femenina</td>
                    <td>Nacidos entre 2012 y 2013</td>
                </tr>
                <tr>
                    <td>Benjamin Masculina y Femenina</td>
                    <td>Nacidos entre 2010 y 2011</td>
                </tr>
                <tr>
                    <td>Alevin Masculina y Femenina</td>
                    <td>Nacidos entre 2008 y 2009</td>
                </tr>
                <tr>
                    <td>Infantil Masculina y Femenina</td>
                    <td>Nacidos entre 2006 y 2007</td>
                </tr>
                <tr>
                    <td>Cadete Masculina y Femenina</td>
                    <td>Nacidos entre 2004 y 2005</td>
                </tr>
                <tr>
                    <td>Junior Masculino</td>
                    <td>Nacidos entre 2001 y 2003</td>
                </tr>
                <tr>
                    <td>Senior Masculino</td>
                    <td>Nacidos entre 1984 y 2000</td>
                </tr>
                <tr>
                    <td>Veteranas</td>
                    <td>1984 y Anteriores</td>
                </tr>
                <tr>
                    <td>Senior Femenina</td>
                    <td>Nacidas entre 1985 y 2003</td>
                </tr>
                <tr>
                    <td>Veteranos A</td>
                    <td>Nacidos entre 1970 y 1979</td>
                </tr>
                <tr>
                    <td>Veteranos B</td>
                    <td>1969 y Anteriores</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


