<div id="DimPageForLadingDiv" class="DimPageForLadingClass">
    <div id="DimPageForLadingGidDiv" class="DimPageForLadingGifClass"></div>
    <div id="DimPageForLadingGidTextDiv" class="DimPageForLadingTextClass">Loading</div>
</div>

