
@{
    ViewBag.Title = "TimeTableView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>San Silvestre Villa de Mora 2019 - Horarios y Distancias</h2>

<div class="col-md-7 col-sm-12">
    <div id="TimeDataContainerId">
        <div id="TimeDataResultTableContainerId" style="font-size:10px">
            <table id="TimeDataTable" style="font-size:10px" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Horario</th>
                        <th>Prueba</th>
                        <th>Año Nacimiento</th>
                        <th>Distancia</th>
                        <th>Circuito</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>15:40</td>
                        <td>Especial F.</td>
                        <td>2014 y Posteriores</td>
                        <td>250 m.</td>
                        <td>1A</td>
                    </tr>
                    <tr>
                        <td>15:50</td>
                        <td>Especial M.</td>
                        <td>2014 y Posteriores</td>
                        <td>250 m.</td>
                        <td>1A</td>
                    </tr>
                    <tr>
                        <td>16:00</td>
                        <td>Mini Benj. F.</td>
                        <td>2012 y 2013</td>
                        <td>450 m.</td>
                        <td>1B</td>
                    </tr>
                    <tr>
                        <td>16:10</td>
                        <td>Mini Benj. M</td>
                        <td>2012 y 2013</td>
                        <td>450 m.</td>
                        <td>1B</td>
                    </tr>
                    <tr>
                        <td>16:20</td>
                        <td>Benjamin F.</td>
                        <td>2010 y 2011</td>
                        <td>750 m.</td>
                        <td>1A+1B</td>
                    </tr>
                    <tr>
                        <td>16:25</td>
                        <td>Benjamin M.</td>
                        <td>2010 y 2011</td>
                        <td>750 m.</td>
                        <td>1A+1B</td>
                    </tr>
                    <tr>
                        <td>16:30</td>
                        <td>Alevin F.</td>
                        <td>2008 y 2009</td>
                        <td>950 m.</td>
                        <td>2B</td>
                    </tr>
                    <tr>
                        <td>16:35</td>
                        <td>Alevin M.</td>
                        <td>2008 y 2009</td>
                        <td>1.450 m.</td>
                        <td>3B</td>
                    </tr>
                    <tr>
                        <td>16:45</td>
                        <td>Infantil F.</td>
                        <td>2006 y 2007</td>
                        <td>950 m.</td>
                        <td>2B</td>
                    </tr>
                    <tr>
                        <td>16:55</td>
                        <td>Infantil M.</td>
                        <td>2006 y 2007</td>
                        <td>1.950 m.</td>
                        <td>4B</td>
                    </tr>
                    <tr>
                        <td>17:10</td>
                        <td>Veteranas</td>
                        <td>1984 y Anteriores</td>
                        <td>4.000 m.</td>
                        <td>3C</td>
                    </tr>
                    <tr>
                        <td>17:10</td>
                        <td>Cadete F.</td>
                        <td>2004 y 2005</td>
                        <td>4.000 m.</td>
                        <td>3C</td>
                    </tr>
                    <tr>
                        <td>17:10</td>
                        <td>Senior F.</td>
                        <td>1985 - 2003</td>
                        <td>4.000 m.</td>
                        <td>3C</td>
                    </tr>
                    <tr>
                        <td>17:10</td>
                        <td>Cadete M.</td>
                        <td>2004 y 2005</td>
                        <td>4.000 m.</td>
                        <td>3C</td>
                    </tr>
                    <tr>
                        <td>17:10</td>
                        <td>Junior M.</td>
                        <td>2001 - 2003</td>
                        <td>4.000 m.</td>
                        <td>3C</td>
                    </tr>
                    <tr>
                        <td>17:10</td>
                        <td>Senior M.</td>
                        <td>1980 - 2000</td>
                        <td>4.000 m.</td>
                        <td>3C</td>
                    </tr>
                    <tr>
                        <td>17:10</td>
                        <td>Veteranos A</td>
                        <td>1970 - 1979</td>
                        <td>4.000 m.</td>
                        <td>3C</td>
                    </tr>
                    <tr>
                        <td>17:10</td>
                        <td>Veteranos B</td>
                        <td>1969 y Anteriores</td>
                        <td>4.000 m.</td>
                        <td>3C</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="col-md-5 col-sm-12">
    <div class="panel-body">
        <img src="~/Images/CircuitoSanSivestre.jpg" alt="Circuito" class="img-responsive" />
    </div>
</div>
