@model IEnumerable<San_Silvestre.Models.GenderModel>

<div id="GenderDataContainerId">
    <div id="GenderDataResultTableContainerId"  style="font-size:11px">
        <table id="GenderDataTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Identificador</th>
                    <th>Genero</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model)
                {
                    <tr>
                        <td>@data.Id</td>
                        <td>@data.Name</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#EditGenderModal" data-backdrop="static" data-keyboard="false" onclick="EditGenderActions.PopulateModalForEdit(this);">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </button>
                            <button type="button" class="btn btn-primary btn-xs" onclick="GenderDeleteAction.ConfirmOnDeleteClick(this);">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
